/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, #messages {
    overflow-x: hidden;
}

body {
    background-color: #343a40!important;
}

* {
    font-family: 'Poppins', sans-serif;
    outline: none !important;
}

.name span{
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
}

.message-box {
    border-radius: 5px;
    box-shadow:  5px 5px 10px #2b3035,
                -5px -5px 10px #3d444b;
}

.sidebar {
    background-color: #222;
    box-sizing: border-box;
    padding: 2rem;
    color: #eee;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sidebar_username {
    color: #918EF4;
}

#rooms, #users {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    border-radius: 5px;
}

.sidebar #rooms *, .sidebar #users * {
    color: #918EF4;
}

#room-name span {
    background-color: rgba(0, 0, 0, 0.6);
    color: #918EF4;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin-top: 40px;
    font-weight: 600;
    box-shadow: #918EF4;
}

#messages {
    animation: fadein 700ms linear 0s 1;
}

#chat-text {
    background-color: #555 !important;
    color: #eee;
}
.submit-btn {
    background-color: #918EF4 !important;
}
.message_form_box {
    display: flex;
    width: 100%;
}

.signout_btn {
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;
    border-radius: 5px;
    color: #918EF4;
}

.new_room_form_parent_container {
    margin-top: 2rem;
}

.new_room_form_container {
    display: flex;
    flex-direction: column;
}

.new_room_form_container input {
    background-color: transparent;
    font-size: 15px;
}

.new_room_form_container input[type=text] {
    border: 2px solid #918EF4;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: .4rem;
    color: #eee !important;
}

.new_room_form_container input[type=text]::placeholder {
    color: #918EF4;
}

.new_room_form_container input[type=text]:focus {
    background-color: transparent;
    color: #eee;
}

.new_room_form_container input[type=submit] {
    border: none;
    padding: .4rem;
    background-color: #918EF4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: left;
    color: #222 !important;
}

#sign_in_wrapper_parent{
    width: 100%;
    height: 100vh;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sign_in_wrapper {
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 0.75rem;
    background-color: #918EF4;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
    box-sizing: content-box;
}

#sign_in_wrapper h2 {
    text-align: center;
    font-size: 1.25rem;   
}

/* #sign_in_wrapper input::placeholder{ */
    /* font-size: 0.75rem; */
/* } */

#sign_in_wrapper input{
    padding: .3rem;
    border-radius: 5px;
    border: none;
}


@keyframes fadein {
    from { opacity: 0; }
    to {opacity: 1;}
}