<%= form_with(model: @room, remote: true, class: "d-flex" ) do |f| %>
  <div class="new_room_form_container">
    <%= f.text_field :name, class: "form-control", autocomplete: 'off', placeholder: "Type room name..." %>
    <%= f.submit data: { disable_with: false } %>
  </div>
<% end %>
